#passwordLength {
  width: 20px;
}
#passwordLength::-webkit-outer-spin-button,
#passwordLength::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0.2em 0.3em 0.3em 0.2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  transition: all 0.2s;
  width: 150px;
  height: 75px;
}
.password:hover {
  color: #000000;
  background-color: #ffffff;
}
